<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">	
        <ion-menu-button></ion-menu-button>	
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="light">

    <ion-card color="secondary" class="welcome-card">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-item color="secondary">
            <ion-avatar slot="start">
                <img class="circle" src="/assets/avatar-blank.png">
            </ion-avatar>
            <ion-label>{{cliente?.nome}}</ion-label>
          </ion-item>
          <h2>Nome: {{cliente?.nome}}</h2>
          <p>CPF: {{cliente?.cpf}}</p>
          <p>Email: {{cliente?.email}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>

