<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">	
      <ion-menu-button></ion-menu-button>	
    </ion-buttons>
    <ion-title>Bem vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="secondary" class="welcome-card">
    <h3 color="light">Cabine Pérola</h3>
    <ion-img src="/assets/perolas.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Comece logo!</ion-card-subtitle>
      <ion-card-title>Bem vindo(a) ao Cabine Pérola App!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Escolha seus procedimentos no menu ao lado!</p>
    </ion-card-content>
  </ion-card>
</ion-content>